  @charset "UTF-8";
  
  body {
            background-color: blue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: brown;
            background-color: black;
        }
        h2 {
            color: antiquewhite;
            background-color: black;
        }
        p {
            text-align: justify;
        }